.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 11px 8px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 27px;
  padding-bottom: 4px;
  padding-left: 50px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__logo {
  width: 150px;
  height: 105px;
  padding-top: 0px;
  padding-left: 12px;
  background-repeat: no-repeat;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.address__semantic {
  max-width: 394px;
}

.address {
  justify-self: end;
  max-width: 245px;
  padding-bottom: 3px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.phone {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.email {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  height: 757px;
  color: white;
  text-transform: uppercase;
  background: url(../images/cover.jpg) no-repeat center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 165px 10px 104px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text {
  align-self: flex-start;
  padding-left: 38px;
}

.aligned-text_center {
  align-self: center;
  padding-left: 33px;
}

.aligned-text_right {
  align-self: flex-end;
  padding-right: 9px;
}

.cover__description {
  display: flex;
  align-items: baseline;
  gap: 105px;
  padding: 0px 30px 130px 48px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  padding: 0 25px 13px 25px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 51px;
  text-align: center;
  background-color: transparent;
}

.bet-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding-top: 28px;
  padding-left: 22px;
}

.lots__card-list-item {
  width: 334px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.lots--container {
  display: block;
  margin-top: 183px;
  margin-left: 63px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
}

.card__title {
  position: relative;
  z-index: 2;
  padding-top: 47px;
  padding-right: 20px;
  padding-left: 41px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding-right: 39px;
  padding-bottom: 47px;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_film {
  max-width: 330px;
  background: url(../images/card-lot-01.jpg) no-repeat center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center/cover;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  display: block;

  padding: 32px 63px 157px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: none;
}

.lots__look-more-link-text {
  border-bottom: 1px solid black;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  gap: 11px;
  padding-left: 12px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 101px 1px 1px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 15px;
  overflow: auto;
  font-size: 20px;
  line-height: 1.2;
}

.par-first {
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 1px;
}

.par-second {
  padding: 23px 24px 165px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 90px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__links-list {
  text-align: center;
  list-style: none;
}

.footer__link {
  border-bottom: 1px solid black;
  font-size: 18px;
  text-decoration: none;
}

.footer__link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
}
